<html>
<head>
    <title>This Is orders.html file</title>
</head>
<body bgcolor=white>

<table border="0" cellpadding="10">
    <tr>
        <td>some links
            <a href="http://bit.ly/1xrATVK">Wowww</a>
            <a href="http://www.facebook.com">Join Facebook</a>
            <a href="http://www.icloud.com/">Join iCloud..</a>
        </td>
        <td>
            <h1>awsomeApp saying "hellow world"</h1>
        </td>
    </tr>
</table>

<p>This is a text. </p>
<p>And this is a verrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrry long text

</body>
</html>
